.mainContainer {
    display: flex;
    flex-direction: row;
}

.column {
    display: flex;
    flex-direction: column;
}

.row {
    display: flex;
    flex-direction: row;
}

.canvas {
    padding: 10px;
    height: 620px;
    width: 645px;
    border: solid 2px antiquewhite;
    margin-right: 20px;
    border-radius: 20px;
    touch-action: none;
}