.mainContainer {
    margin: 10px 10px;
    display: flex;
    flex-direction: row;
}

.column {
    display: flex;
    flex-direction: column;
}

.row {
    display: flex;
    flex-direction: row;
}

.canvas {
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    background-color: #eef0f1;
    padding: 20px 20px 0 20px;
    height: 620px;
    width: 600px;
    margin-right: 20px;
    touch-action: none;
}