.row {
    flex-direction: column;
    justify-content: space-evenly;
    display: flex;
}

.patternCard {
    cursor: pointer;
    text-align: center;
    border: solid 1px brown;
    border-radius: 6px;
    margin-bottom: 5px;
    width: 100px;
    height: 100px;
    background-color: rgb(214, 190, 159);
    line-height: 100px;
}