.patterns {
    border-radius: 20px;
    overflow-y: auto;
    padding: 10px;
    background: #eef0f1;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.container {
    border-radius: 20px;
    overflow-y: scroll;
    padding: 5px;
    background: #eef0f1;
    display: flex;
    flex-direction: column;
    height: 100%;
}

.innerContainer {
    border-radius: 20px;
    height: 100%;
    padding: 5px;
    background: #eef0f1;
    display: flex;
    flex-direction: column;
}

.patternItem {
    color: rgb(70, 70, 70);
    border-radius: 5px;
    padding: 5px;
    text-decoration: none;
}

.title {
    color: rgb(70, 70, 70);
    margin-top: 5px;
    margin-bottom: 0.5em;
    padding-left: 10px;
}

hr {
    border: none;
    border-bottom: 1px solid rgb(204, 204, 204);
    margin: 0 15px;
}

a:visited {
    color: rgb(70, 70, 70);
}

.selected {
    background-color: rgb(207, 207, 207);
}

@media(max-width: 1024px) {
    .patterns {
        flex-grow: 1.3;
        height: 250px;
    }
}

@media(max-width: 500px) {
    .patterns {
        margin: auto;
        flex-grow: unset;
        width: 90%;
    }
}

/* width */

::-webkit-scrollbar {
    width: 5px;
}

/* Track */

::-webkit-scrollbar-track {
    background: #f1f1f1;
}

/* Handle */

::-webkit-scrollbar-thumb {
    background: #888;
}

/* Handle on hover */

::-webkit-scrollbar-thumb:hover {
    background: #555;
}